<div class="text" >
    <h4>{{label}}</h4>
    <span  *ngIf="total!=-1" class="total">{{total}}</span>
    <span *ngIf="percentage!=-1"   tooltip="{{msg}}" placement="top" delay="500" >
      <mat-icon [ngClass]="{'description': isUp=='true', 'red':  isUp!='true'}" >trending_up</mat-icon>
    </span>
    <span *ngIf="percentage!=-1" [ngClass]="{'description': isUp=='true', 'red':  isUp!='true'}"  tooltip="{{msg}}" placement="top" delay="500"  >
      {{percentage}} 
    </span>
    
  </div>

  